logs
**/.settings
*.log
*.csv
.idea
nvip.iml
/target/

/crawler/target/
/productnameextractor/target/
/sleepycat-5.0.84.jar
/nvip_data/productnameextraction/w2v_model_250.bin
/nvip_data/mysql-database/newDB/mysql-connector-j-8.0.33.jar
/reconciler/target/

.idea/
output/
logs/
/.github/
/nvip_data/exploit-repo/exploitdb/
Servers/
nvip_data/
