logs
**/.settings
*.log
*.csv
.idea
nvip.iml
/target/
.idea/
output/
logs/
/.github/
nvip_data/pypa-repo/
/nvip_data/productnameextraction/w2v_model_250.bin
/nvip_data/exploit-repo/exploitdb/
Servers/
nvip_data/
